.skills {
    font-size: .8rem;
    line-height: 1.5;
    /*color: #555;*/
    font-family: 'Aleo', serif; 
    text-align: center;
    background-color: #eaf2fa;
    padding-bottom: 1em;
}



.container{
    margin-top: 3em;
    margin-bottom: 5em;
    
}

.skills-title{
    padding-top: 2em;
    padding-bottom: 2em;
    
  }

  .skills-icon {
    display: block;
    width: 100%;    
    font-size: 3rem;
    text-align: center;
}

.fab, .fas{
    color: #795548 !important;  
}